.euisu {
  float: right;
  margin: 0 0.5em;
}

.euisu > * {
  margin: 0.1em;
  padding: 0 0.1em;
  font-size: 0.8em;
  vertical-align: middle;
}

.euisu > button {
  color: lightgray;
  background-color: transparent;
  border: none;
}

.euisu-block {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
