.euisu {
  float: right;
  margin: 0 1em;
}

.euisu > button {
  margin: 0.1em;
  padding: 0 0.1em;
  font-size: 0.8em;
  vertical-align: middle;
}

.euisu-block {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
