.euisu {
  display: inline-block;
  margin: 0 0.8em;
  vertical-align: top;
}

.euisu > * {
  margin: 0.2em 0.2em;
}

.euisu-block {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
